<div class="card text-center">
  {{!-- <div class="card-header">
    Featured
  </div> --}}
  <div class="card-body">
    <h5 class="card-title">Use this app to keep track of your reading goals!</h5>
    <p class="card-text">Please sign in to access your library.</p>
    <a href="/login" class="btn btn-primary">Log In</a>
    <p>Or</p>
    <a href="/register" class="btn btn-primary">Sign Up</a>
  </div>
  {{!-- <div class="card-footer text-muted">
    2 days ago
  </div> --}}
</div>