<br>

{{!-- sidebar nav --}}
<aside>
  <div class="card" style="width: 18rem; text-align: center;">
    <nav class="nav flex-column">
      <a class="nav-link" href="/addedbook">Added Books</a>
      <a class="nav-link" href="/alreadyread" ondrop="drop(event)" ondragover="allowDrop(event)">Already Read</a>
      <a class="nav-link" href="/currentlyreading" ondrop="drop(event)" ondragover="allowDrop(event)">Currently Reading</a>
      <a class="nav-link" href="/wanttoread" ondrop="drop(event)" ondragover="allowDrop(event)">Want to Read</a>
    </nav>
  </div>
</aside>

{{!-- cards --}}
<div class="container-fluid mt-4">
  <div class="row justify-content-center" id="row">
    {{#each books}}
    <div class="col-auto mb-3">
      <div class="card" style="width: 18rem;" draggable="true" ondragstart="drag(event)">
        <img src="{{coverURL}}" width="300" height="300" class="card-img-top"
          alt="cover">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p class="card-text">by <span id="author">{{author}}</span></p>
          <p class="card-text"><span id="pages">{{numPages}}</span> pages</p> 
        </div>
        <div class="card-footer">
          <div class="text-muted"><i class="fas fa-plus-circle"></i> Drag</div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>