<br>
<aside>
  <div class="card" style="width: 18rem; text-align: center;">
    <nav class="nav flex-column">
      <a class="nav-link" href="#">Added Books</a>
      <a class="nav-link" href="#">Already Read</a>
      <a class="nav-link" href="#">Currently Reading</a>
      <a class="nav-link" href="#">Want to Read</a>
    </nav>
  </div>
</aside>