/* My Library Sidebar */
aside {
    float: left;
}

/* My Library Sidebar Nav */
.activeNav {
    color: #fff;
    background-color: #007bff;
}

.activeNav:hover {
    color: #fff;
}

/* Card Container Margin */
.mt-4 {
    margin-top: 0!important;
}

/* Card Cursor on Drag */
.card {
    cursor: pointer;
}

/* Add to My Library button */
.text-muted {
    text-align: center;
    color: black!important;
}

/* Plus Icon */
.fa-plus-circle {
    color: green;
}