/* My Library Sidebar */
aside {
    float: left;
}

/* My Library Sidebar Nav */
.activeNav {
    color: #fff;
    background-color: #007bff;
}

.activeNav:hover {
    color: #fff;
}

/* Card Deck */
.card-deck {
    margin-top: 0;
}

/* Add to My Library button */
.text-muted {
    text-align: center;
}

/* Plus Icon */
.fa-plus-circle {
    color: green;
}