/* <<<<<<< HEAD */
/* Tae */
.navbar {
    font-family: Minion Variable Concept
}

.card-body {
    font-family: Minion Variable Concept
}

.bg-light {
    background-color: #354f39!important;
}

.btn-outline-success {
    color: #B59C89;
    border-color: #000000;
}

.btn-primary {
    color: #fff;
    background-color: #B59C89;
    border-color: #B59C89;
}

/* My Library Sidebar */
aside {
    float: left;
}

/* My Library Sidebar Nav */
/* >>>>>>> eb996ac6d0b64414315b6f10fc5c92885f5b4eb7 */
.activeNav {
    border-radius: 6px;
    color: #fff;
    background-color: #b59c89;
}

.activeNav:hover {
    color: #fff;
}

/* Card Container Margin */
.mt-4 {
    margin-top: 0!important;
}

/* Card */
.card {
    cursor: pointer;
}

/* Card Body */
.card-body {
    padding-left: 48px;
}

/* Drag Button */
.text-muted {
    text-align: center;
    color: green!important;
}

/* Plus Icon */
.fa-plus-circle {
    color: green;
}